section.Tools
    div.Tools-cont
        div.Tools-cont-card(style="--cardColor: #53b2a1;")
            div.Tools-cont-card-sup
                div.Tools-cont-card-sup-title
                    h2.Tools-cont-card-sup-title-inicial Cátedra nacional 
                    h3.Tools-cont-card-sup-title-subtitle La Justicia Transicional de la Jep: Aportes para la Paz
                p.Tools-cont-card-sup-dirigido Dirigido a público General
            div.Tools-cont-card-item
                span.Tools-cont-card-item-color
                p.Tools-cont-card-item-txt Espacio de formación académica que aporta a la circulación del conocimiento, al análisis crítico y a la apropiación pública del sentido, el lugar y el propósito de la justicia transicional y restaurativa y de la JEP en la superación del conflicto armado y la construcción de paz. Dirigido a público Académico.
            div.Tools-cont-card-call
                div.Tools-cont-card-call-info
                    img.Tools-cont-card-call-info-img(src="./assets/images/pag-web.svg", alt="icon")
                    a.Tools-cont-card-call-info-txt(href="https://catedrdanacional.xxx/") Visita la herramienta: https://catedrdanacional.xxx/
                a.Tools-cont-card-call-boton(href="") 
                    button.Tools-cont-card-call-boton-info conoce más
        
        div.Tools-cont-card(style="--cardColor: #f6c752;")
            div.Tools-cont-card-sup
                div.Tools-cont-card-sup-title
                    h2.Tools-cont-card-sup-title-inicial Icampus Jep 
                    h3.Tools-cont-card-sup-title-subtitle Formación Virtual
                p.Tools-cont-card-sup-dirigido Dirigido a público General
            div.Tools-cont-card-item
                span.Tools-cont-card-item-color
                p.Tools-cont-card-item-txt Espacio de formación virtual sobre temas relacionados con la justicia transicionalen Colombia. Contiene cursos libres de autoformación como: Loa TOAR (Trabajos,obras y acciones con enfoque restaurador); La JEP en Funcionamiento y Niñez y Adolescencia en la Justicia Transicional. 
            div.Tools-cont-card-call
                div.Tools-cont-card-call-info
                    img.Tools-cont-card-call-info-img(src="./assets/images/pag-web.svg", alt="icon")
                    a.Tools-cont-card-call-info-txt(href="https://campus.jep.gov.co/") Visita la herramienta: https://campus.jep.gov.co/
                a.Tools-cont-card-call-boton(href="") 
                    button.Tools-cont-card-call-boton-info conoce más

        div.Tools-cont-card(style="--cardColor: #297d9b;")
            div.Tools-cont-card-sup
                div.Tools-cont-card-sup-title
                    h2.Tools-cont-card-sup-title-inicial Justamente 
                    h3.Tools-cont-card-sup-title-subtitle Aprendiendo sobre Justicia y Restauración
                //- p.Tools-cont-card-sup-dirigido Dirigido a público General
            div.Tools-cont-card-item
                span.Tools-cont-card-item-color
                p.Tools-cont-card-item-txt Programa de la Jurisdicción Especial para la Paz (JEP) y Educapaz dirigido al ámbito escolar. Contiene guías pedagógicas para tejer aprendizajes sobre la justicia transicional y las prácticas de justicia en la vida cotidiana. 
            div.Tools-cont-card-call
                div.Tools-cont-card-call-info
                    img.Tools-cont-card-call-info-img(src="./assets/images/pag-web.svg", alt="icon")
                    a.Tools-cont-card-call-info-txt(href="https://educapaz.co//justamente/") Visita la herramienta: https://educapaz.co//justamente/
                a.Tools-cont-card-call-boton(href="")
                    button.Tools-cont-card-call-boton-info conoce más

        div.Tools-cont-card(style="--cardColor: #5246a5;")
            div.Tools-cont-card-sup
                div.Tools-cont-card-sup-title
                    h2.Tools-cont-card-sup-title-inicial Archivos vivos de la Jep 
                    h3.Tools-cont-card-sup-title-subtitle Cartografía de la Justicia Transicional
                //- p.Tools-cont-card-sup-dirigido Dirigido a público General
            div.Tools-cont-card-item
                span.Tools-cont-card-item-color
                p.Tools-cont-card-item-txt Espacio virtual que propone la organización de archivos y fuentes producidas en la JEP, concebidas como patrimonio público vivo y relevante para el uso de la ciudadania interesada en conocer el pasado del conflicto y contribuir a la norepetición de los ciclos de violencia en el país.
            div.Tools-cont-card-call
                div.Tools-cont-card-call-info
                    img.Tools-cont-card-call-info-img(src="./assets/images/pag-web.svg", alt="icon")
                    a.Tools-cont-card-call-info-txt(href="Visita la herramienta: https://www.jep.gov.co/archivosvivos/index.html") Visita la herramienta: https://www.jep.gov.co/ archivosvivos/index.html
                a.Tools-cont-card-call-boton(href="") 
                    button.Tools-cont-card-call-boton-info conoce más

        div.Tools-cont-card(style="--cardColor: #dd6858;")
            div.Tools-cont-card-sup
                div.Tools-cont-card-sup-title
                    h2.Tools-cont-card-sup-title-inicial Herramientas pedagógicas 
                    h3.Tools-cont-card-sup-title-subtitle Dirigidas a víctimas y comparecientes
                p.Tools-cont-card-sup-dirigido Dirigido a público General
            div.Tools-cont-card-item
                span.Tools-cont-card-item-color
                p.Tools-cont-card-item-txt Resultado de la caracterización al interior de la SFI.
            div.Tools-cont-card-call
                div.Tools-cont-card-call-info
                    img.Tools-cont-card-call-info-img(src="./assets/images/pag-web.svg", alt="icon")
                    a.Tools-cont-card-call-info-txt(href="Visita la herramienta: https://cxxxxxx....xxx/") Visita la herramienta: https://cxxxxxx....xxx/
                a.Tools-cont-card-call-boton(href="") 
                    button.Tools-cont-card-call-boton-info conoce más
