- var title = 'Inicio'
doctype html
html(lang="es")
  include ../components/_meta.pug
  body
    include ../components/_main.pug
    include ../components/_herramientas.pug
    include ../components/_footer.pug

    script(src="./scripts/index.js")