section.Herramientas
    div.Herramientas-cont
        div.Herramientas-cont-card
            div.Herramientas-cont-card-sup
                div.Herramientas-cont-card-sup-title
                    h2.Herramientas-cont-card-sup-title-inicial Cátedra nacional 
                    h3.Herramientas-cont-card-sup-title-subtitle La Justicia Transicional de la Jep: Aportes para la Paz
                p.Herramientas-cont-card-sup-dirigido Dirigido a público General
            div.Herramientas-cont-card-item
                span.Herramientas-cont-card-item-color
                p.Herramientas-cont-card-item-txt Espacio de formación académica que aporta a la circulación del conocimiento, al análisis crítico y a la apropiación pública del sentido, el lugar y el propósito de la justicia transicional y restaurativa y de la JEP en la superación del conflicto armado y la construcción de paz. Dirigido a público Académico.
            div.Herramientas-cont-card-call
                div.Herramientas-cont-card-call-info
                    img.Herramientas-cont-card-call-info-img(src="./assets/images/pag-web.svg", alt="icon")
                    a.Herramientas-cont-card-call-info-txt(href="") Visita la herramienta: https://catedrdanacional.xxx/
                a.Herramientas-cont-card-call-boton(href="") 
                    button.Herramientas-cont-card-call-boton-info conoce más
        
        div.Herramientas-cont-card
            div.Herramientas-cont-card-sup
                div.Herramientas-cont-card-sup-title
                    h2.Herramientas-cont-card-sup-title-inicial Icampus Jep 
                    h3.Herramientas-cont-card-sup-title-subtitle Formación Virtual
                p.Herramientas-cont-card-sup-dirigido Dirigido a público General
            div.Herramientas-cont-card-item
                span.Herramientas-cont-card-item-color
                p.Herramientas-cont-card-item-txt Espacio de formación virtual sobre temas relacionados con la justicia transicionalen Colombia. Contiene cursos libres de autoformación como: Loa TOAR (Trabajos,obras y acciones con enfoque restaurador); La JEP en Funcionamiento y Niñez y Adolescencia en la Justicia Transicional. 
            div.Herramientas-cont-card-call
                div.Herramientas-cont-card-call-info
                    img.Herramientas-cont-card-call-info-img(src="./assets/images/pag-web.svg", alt="icon")
                    a.Herramientas-cont-card-call-info-txt(href="") Visita la herramienta: https://catedrdanacional.xxx/
                a.Herramientas-cont-card-call-boton(href="") 
                    button.Herramientas-cont-card-call-boton-info conoce más
