section.Tools
    div.Tools-cont
        div.Tools-cont-card(style="--cardColor: #EAB83B; --textColor: #297D9B;")
            div.Tools-cont-card-sup
                div.Tools-cont-card-sup-title
                    h2.Tools-cont-card-sup-title-inicial Icampus Jep 
                    h3.Tools-cont-card-sup-title-subtitle Formación Virtual
                //- p.Tools-cont-card-sup-dirigido Dirigido a público General
            div.Tools-cont-card-item
                span.Tools-cont-card-item-color
                p.Tools-cont-card-item-txt Espacio de formación virtual dirigido a público general. Acá podrá encontrar cursos para aprender sobre temas relacionados con la justicia transicional en Colombia.
            .Tools-cont-card-call-container
                a.Tools-cont-card-call(href="https://campus.jep.gov.co/") 
                    include ../components/_icon.pug
                    p.Tools-cont-card-call-info conozca la herramienta

        div.Tools-cont-card(style="--cardColor: #5246A5;--textColor: #fff;")
            div.Tools-cont-card-sup
                div.Tools-cont-card-sup-title
                    h2.Tools-cont-card-sup-title-inicial Archivos vivos de la Jep 
                    h3.Tools-cont-card-sup-title-subtitle Una Cartografía de la Justicia Transicional
                //- p.Tools-cont-card-sup-dirigido Dirigido a público General
            div.Tools-cont-card-item
                span.Tools-cont-card-item-color
                p.Tools-cont-card-item-txt Herramienta pedagógica dirigida especialmente a la academia. Podrá encontrar información organizada por macrocaso que le permitirá explorar el modelo de justicia transicioanl de la JEP.
            .Tools-cont-card-call-container
                a.Tools-cont-card-call(href="#") 
                    include ../components/_icon.pug
                    p.Tools-cont-card-call-info conozca la herramienta
        div.Tools-cont-card(style="--cardColor: #297d9b;--textColor: #fff;")
            div.Tools-cont-card-sup
                div.Tools-cont-card-sup-title
                    h2.Tools-cont-card-sup-title-inicial Justamente 
                    h3.Tools-cont-card-sup-title-subtitle.small Guía pedagógica para tejer aprendizajes sobre la justicia transicional y las prácticas de justicia en la vida cotidiana
                //- p.Tools-cont-card-sup-dirigido Dirigido a público General
            div.Tools-cont-card-item
                span.Tools-cont-card-item-color
                p.Tools-cont-card-item-txt Herramienta dirigida al ámbito escolar. Podrá encontrar materiales pedagógicos para tejer aprendizajes sobre la justicia transicional y prácticas de justicia en la vida cotidiana. 
            .Tools-cont-card-call-container
                a.Tools-cont-card-call(href="#") 
                    include ../components/_icon.pug
                    p.Tools-cont-card-call-info conozca la herramienta

        div.Tools-cont-card(style="--cardColor: #53B2A1;--textColor: #fff;")
            div.Tools-cont-card-sup
                div.Tools-cont-card-sup-title
                    h2.Tools-cont-card-sup-title-inicial Cátedra nacional 
                    h3.Tools-cont-card-sup-title-subtitle La Justicia Transicional de la JEP: aportes para la paz
                //- p.Tools-cont-card-sup-dirigido Dirigido a público General
            div.Tools-cont-card-item
                span.Tools-cont-card-item-color
                p.Tools-cont-card-item-txt Herramienta pedagógica dirigida a la academia. Acá podrá encontrar módulos temáticos con contenidos educativos para desarrollar de manera autónoma con estudiantes universitarios.
            .Tools-cont-card-call-container
                a.Tools-cont-card-call(href="#") 
                    include ../components/_icon.pug
                    p.Tools-cont-card-call-info conozca la herramienta
        
        div.Tools-cont-card(style="--cardColor: #dd6858;--textColor: #fff;")
            div.Tools-cont-card-sup
                div.Tools-cont-card-sup-title
                    h2.Tools-cont-card-sup-title-inicial Herramientas pedagógicas 
                    h3.Tools-cont-card-sup-title-subtitle Para el trabajo con víctimas y comparecientes
                //- p.Tools-cont-card-sup-dirigido Dirigido a público General
            div.Tools-cont-card-item
                span.Tools-cont-card-item-color
                p.Tools-cont-card-item-txt Banco de herramientas pedagógicas dirigidas a personas interesadas en el trabajo con víctimas y comparecientes ante la JEP.
            .Tools-cont-card-call-container
                a.Tools-cont-card-call(href="#") 
                    include ../components/_icon.pug
                    p.Tools-cont-card-call-info conozca la herramienta

        
