section.Main
    div.Main-header
        a(href="#") 
            img.Main-header-img(src="./assets/images/logo-blanco.svg", alt="Logo")
        button.Main-header-button
            img.Main-header-button-img(src="./assets/grid-outline.svg", alt="Logo")

    div.Main-fondo
        img.Main-fondo-img(src="./assets/images/ilustracion_herr_jep.jpg", alt="Img-fondo")
        div.Main-fondo-cont
            h1.Main-fondo-cont-title Herramientas Pedagógicas de la JEP
            p.Main-fondo-cont-summary La Jurisdicción Especial para la Paz (JEP) presenta una serie de herramientas pedagógicas, para aportar a la comprensión y reflexión sobre la justicia transicional y la justicia restaurativa que imparte la JEP. 
            p.Main-fondo-cont-subtitle ¡Invitamos a explorarlas!