section.Main
    div.Main-header
    div.Main-fondo
        img.Main-fondo-img(src="./assets/images/Fondo-main.jpg", alt="Img-fondo")
        div.Main-fondo-cont
            h1.Main-fondo-cont-title Herramientas Pedagógicas de la JEP