head
    title #{title} | Home herramientas
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=3, initial-scale=1, user-scalable=yes')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='./styles.css')

    script(src='https://kit.fontawesome.com/c1a30d9159.js', crossorigin='anonymous')