.Tools{
    width: 90vw;
    padding: 2vw 0;
    margin: 0 auto 3vw;
    @include mobile{
        width: 100vw;
    }
    &-cont{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 2.2vw;
        @include mobile{
            flex-direction: column;
            margin: 0 auto;
            gap: 0;
        }
        &-card{
            @include card($color-aqua);
            border-color: var(--cardColor);
            margin: 0 auto;
            &-sup{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                @include mobile{
                    flex-direction: column;
                }
                &-title{
                    display: flex;
                    flex-direction: column;
                    width: 88%;
                    @include mobile{
                        width: 100%;
                    }
                    &-inicial{
                        @include title;
                        padding-bottom: .5vw;
                        width: 78%;
                        @include mobile{
                            padding-bottom: 1.5vw;
                            width: 100%;
                        }
                    }
                    &-subtitle{
                        @include Subtitle;
                        @include desktop{
                            &.small{
                                font-size: 1.5vw;
                                width: 100%;
                            }
                        }
                    }
                }
                &-dirigido{
                    @include txt;
                    text-align: right;
                    color: var(--cardColor);
                    width: 23%;
                    font-weight: $medium;
                    @include mobile{
                        padding-top: 3vw;
                        width: 80%;
                        font-size: 3vw;
                        text-align: left;
                    }
                }
            }
            &-item{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 90%;
                max-width: 42vw;
                margin-top: 1vw;
                @include mobile{
                    width: 90%;
                    padding: 7vw 0 3vw;
                    margin-top: 1vw;
                    align-items: flex-start;
                    max-width: none;
                }
                &-color{
                    background-color: var(--cardColor);
                    width: 5vw;
                    height: .6vw;
                    margin-bottom: 1vw;
                    @include mobile{
                        width: 12vw;
                        height: 1.7vw;
                        margin-bottom: 1vw;
                    }
                }
                &-txt{
                    @include txt;
                    text-align: right;
                    @include mobile{
                        text-align: left;
                    }
                }
            }
            &-call{
                display: flex;
                align-items: center;
                justify-content: center;
                @include boton;
                &-container{
                    margin-top: 1vw;
                    padding: .5vw;
                    background-color: var(--cardColor);
                    border-radius: 50vw;
                    @include mobile{
                        margin: 3vw auto 0; 
                        padding: 1.7vw;
                    }
                }
                &-info{
                    display: flex;
                    align-items: center;
                    width: 7vw;
                    font-family: $font-title;
                    text-align: center;
                    padding-left: .5vw;
                    font-size: 1.2vw;
                    font-weight: $bold;
                    color: var(--textColor);
                    line-height: 1;
                    @include mobile{
                        width: 25vw;
                        padding-left: 2vw;
                        font-size: 3.6vw;
                        font-weight: $bold;
                    }
                }
                &>svg{
                    width: 2.2vw;
                    fill: var(--textColor);
                    @include mobile{
                        width: 8vw;
                    }
                }
            }
        }
    }
}