@mixin big_desktop {
    @media screen and (min-width: 1280px) {
      @content
    }
}
@mixin desktop {
    @media screen and (min-width: 1100px){
      @content
    }
}

@mixin tablet {
    @media screen and (min-width: 600px) and (max-width: 1100px) {
      @content
    }
}

@mixin horizontal {
    @media screen and (min-width: 600px){
      @content
    }
}

@mixin mobile {
    @media screen and (max-width: 600px) {
      @content
    }
}

@mixin title{
  font-family: $font-title;
  color: $color-azul;
  font-size: 2.3vw;
  line-height: 1;
  font-weight: $black;
  text-transform: uppercase;
  @include mobile{
    font-size: 5.8vw;
  }
}

@mixin Subtitle{
  font-family: $font-title;
  color: $color-azul;
  font-size: 1.8vw;
  line-height: 1.1;
  font-weight: $black;
  width: 77%;
  @include mobile{
    font-size: 4.4vw;
    width: 92%;
  }
}

@mixin txt{
  font-family: $font-txt;
  color: $color-txt;
  font-size: 1.25vw;
  line-height: 1.3;
  font-weight: $medium;
  @include mobile{
    font-size: 2.3vw;
    color: #000;
  }
}

@mixin card($color){
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background: $color-white url('./assets/paper_texture.png') left center no-repeat;
  background-size: cover;
  border-radius: 30px;
  padding: 4vw 3vw 2.5vw 5%;
  border: .2vw solid $color;
  width: 35%;
  flex-grow: 1;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.35);
  @include mobile{
    width: 65vw;
    margin: 2vw auto;
    border-width: 1.4vw;
    padding: 15vw 8vw 8vw;
    align-items: flex-start;
  }
}

@mixin boton{
  align-items: center;
  background-color: transparent;
  transition-duration: .5s;
  border-radius: 50vw;
  padding: .3vw .4vw;
  width: 11vw;
  border: none;
  box-shadow: 0 0 1vw .1vw rgba(0, 0, 0, 0.30);
  @include mobile{
    margin: 0 auto;
    border-radius: 30vw;
    padding: .7vw 2.2vw;
    width: 30vw;
    box-shadow: 0 0 2vw .5vw rgba(0, 0, 0, 0.35);
  }
  &-info{
    color: var(--textColor);
    font-size: 14px;
    background-color: inherit;
    border: none;
    cursor: pointer;
    @include mobile{
      font-size: 4vw;
    }
  }
  &:hover{
    border-color: transparent;
    box-shadow: 0 0 1vw .1vw rgba(0, 0, 0, 0.7);
  }
}