@mixin big_desktop {
    @media screen and (min-width: 1280px) {
      @content
    }
}
@mixin desktop {
    @media screen and (min-width: 1100px){
      @content
    }
}

@mixin tablet {
    @media screen and (min-width: 600px) and (max-width: 1100px) {
      @content
    }
}

@mixin horizontal {
    @media screen and (min-width: 600px){
      @content
    }
}

@mixin mobile {
    @media screen and (max-width: 600px) {
      @content
    }
}

@mixin title{
  font-family: $font-title;
  color: $color-azul;
  font-size: 30px;
  line-height: 1;
  font-weight: $black;
  text-transform: uppercase;
  @include mobile{
    font-size: 5.5vw;
  }
}

@mixin Subtitle{
  font-family: $font-title;
  color: $color-azul;
  font-size: 22px;
  line-height: 1;
  font-weight: $bold;
  @include mobile{
    font-size: 4vw;
  }
}

@mixin txt{
  font-family: $font-txt;
  color: $color-txt;
  font-size: 16px;
  line-height: 1.2;
  font-weight: $regular;
  @include mobile{
    font-size: 4vw;
  }
}

@mixin card($color){
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background-color: $color-white;
  border-radius: 30px;
  padding: 40px;
  border: 3px solid $color;
  width: 40%;
  flex-grow: 1;
  @include mobile{
    width: 72vw;
    margin: 5vw auto;
    padding: 8vw;
  }
}

@mixin boton($color){
  background-color: $color;
  border-radius: 30px;
  padding: 10px 30px;
  width: max-content;
  align-items: center;
  border: 2px solid #ccc;
  transition-duration: .5s;
  &-info{
    color: $color-white;
    font-size: 14px;
    background-color: inherit;
    border: none;
    cursor: pointer;
    @include mobile{
      font-size: 4vw;
    }
  }
  &:hover{
    filter: brightness(80%);
  }
}