// Colores

$color-azulosc: #0A0A59;
$color-azul: #2C708E;
$color-aqua: #53B2A1;
$color-aquaosc: #297D9B;
$color-purple: #5246A5;
$color-rose: #DD6858;
$color-yellow:#EAB83B;
$color-black: #000000;
$color-white: #ffffff;

$color-txt: #333;

// Fuentes

$font-title: "Playfair Display", serif;
$font-txt: "Raleway", sans-serif;

$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$black: 900;

@import './_mixin';

// Codigo

*{
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
  scroll-behavior: smooth;
  color: initial;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body{
  background-image: url(./assets/images/Fondo-body.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  overflow-x: hidden;
  @include mobile{
    background-size: auto;
    background-repeat: repeat;
  }
}

@import './_main';
.JEPDescription{
  background-color: #fff;
  width: 880px;
  border-radius: 30px;
  margin: 40px auto 0;
  padding: 40px 200px;
  @include mobile{
    width: 70vw;
    border-radius: 30px;
    margin: 40px auto 0;
    padding: 10vw;
  }
  &-text{
    @include txt;
  }
}
@import './_herramientas';
@import './_footer';


@import './_int';




