*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background: url(../assets/images/fondo-principal.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.nav__side {
  position: fixed;
  left: 0;
  top: 20px;
  width: 100px;
  height: 400px;
  z-index: 1;
}
.nav__side a {
  width: 100%;
  padding: 15px;
}
.nav__side a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 20px;
}
.nav__side nav {
  background-color: #6A392B;
  height: 100%;
  width: 60px;
  border-radius: 0px 20px 20px 0px;
  overflow: hidden;
}
.nav__side ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.nav__side ul button {
  width: 54px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 5px;
  border-radius: 3px;
  border-bottom: 1px solid white;
}
.nav__side ul button:hover {
  background: #F2961F;
}
.nav__side ul button.selected {
  background-color: #F2961F;
}
.nav__side ul img {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav__side ul :last-child {
  border: none;
}

.modal__onboarding {
  position: absolute;
  top: 104px;
  left: -145px;
  right: 0;
  margin: 0 auto;
  width: 168px;
  height: 128px;
  border-radius: 5px;
  box-shadow: rgba(33, 33, 33, 0.8) 0px 0px 1px 2px, rgba(33, 33, 33, 0.5) 0px 0px 0px 8000px;
  z-index: 3;
  transition: all 5s ease;
}

.action__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 380px;
  top: 101px;
  padding: 0 15px;
  height: 170px;
  width: 260px;
  border-radius: 7px;
  background-color: white;
  z-index: 4;
  transition: all 5s ease;
}
.action__container p {
  width: 100%;
  padding: 30px 5px;
  text-align: justify;
  font-family: Helvetica, sans-serif, Arial;
}
.action__container p::after {
  content: "";
  position: absolute;
  left: -15px;
  right: -15px;
  top: 0;
  bottom: 0;
  color: #252527;
  border-bottom: 1px solid #a3a3a3;
}
.action__container button {
  width: 120px;
  height: 38px;
  border-radius: 3px;
  margin: 10px 0;
  font-family: Helvetica, sans-serif, Arial;
  font-size: 14px;
  border: 1px solid #bdbdbd;
  background-color: #f4f4f4;
}
.action__container button:hover {
  border-color: #9e9e9e;
  background-color: #e0e0e0;
}

.bloq__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.bloq__container.invisible,
.action__container.invisible,
.modal__onboarding.invisible {
  display: none;
}

@media (max-width: 1300px) {
  .action__container {
    right: 190px;
  }
}
@media (max-width: 1024px) {
  .action__container {
    top: 401px;
  }
  .modal__onboarding {
    left: 0;
    right: 0;
    width: 220px;
  }
}
@media (max-width: 768px) {
  .modal__onboarding {
    width: 280px;
    height: 250px;
  }
}
@font-face {
  font-family: "Axiforma-Black";
  src: url("./../assets/fonts/Axiforma-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Abril-Italy";
  src: url("./../assets/fonts/Abril-Fatface-Italic.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Abril-Bold-Italy";
  src: url("./../assets/fonts/Abril_Display_BoldItalic.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Courier-Std";
  src: url("./../assets/fonts/CourierStd.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Barlow-Medium";
  src: url("./../assets/fonts/Barlow-Medium.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
.especial__content {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 25px;
  width: 100%;
}
.especial__content h1 {
  width: 100%;
  text-align: center;
}
.especial__content .header__container {
  width: 100%;
}
.especial__content .header__container .header__frontPage {
  max-width: 1280px;
  width: 100%;
  max-height: 768px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background: url(../assets/images/header-collage-desk.png) no-repeat center;
  background-size: contain;
}
.especial__content .header__container .header__frontPage li {
  width: 50px;
  position: absolute;
  list-style: none;
  opacity: 0;
  transition: all ease 0.5s;
}
.especial__content .header__container .header__frontPage li:nth-child(1) {
  top: -5.4%;
  left: 5.3%;
  width: 11.5%;
}
.especial__content .header__container .header__frontPage li:nth-child(2) {
  top: 3%;
  left: 23.3%;
  width: 3.7%;
}
.especial__content .header__container .header__frontPage li:nth-child(3) {
  top: 5%;
  left: 40%;
  width: 4%;
}
.especial__content .header__container .header__frontPage li:nth-child(4) {
  top: 5.3%;
  left: 62.4%;
  width: 4.8%;
}
.especial__content .header__container .header__frontPage li:nth-child(5) {
  top: 127px;
  left: 780px;
  width: 37px;
  display: none;
}
.especial__content .header__container .header__frontPage li:nth-child(6) {
  top: 21.7%;
  left: 76.5%;
  width: 4%;
}
.especial__content .header__container .header__frontPage li:nth-child(7) {
  top: 21.8%;
  left: 8.5%;
  width: 5.5%;
}
.especial__content .header__container .header__frontPage li:nth-child(8) {
  top: 16.7%;
  left: 27.8%;
  width: 4.8%;
}
.especial__content .header__container .header__frontPage li:nth-child(9) {
  top: 22%;
  left: 42.2%;
  width: 8.5%;
}
.especial__content .header__container .header__frontPage li:nth-child(10) {
  top: 28.8%;
  left: 51%;
  width: 3%;
}
.especial__content .header__container .header__frontPage li:nth-child(11) {
  top: 37.6%;
  left: 69.9%;
  width: 6.2%;
}
.especial__content .header__container .header__frontPage li:nth-child(12) {
  top: 20.6%;
  left: 84.2%;
  width: 9.5%;
}
.especial__content .header__container .header__frontPage li:nth-child(13) {
  top: 46.3%;
  left: 5%;
  width: 10%;
}
.especial__content .header__container .header__frontPage li:nth-child(14) {
  top: 34%;
  left: 18.6%;
  width: 10%;
}
.especial__content .header__container .header__frontPage li:nth-child(15) {
  top: 53%;
  left: 15.9%;
  width: 8.6%;
}
.especial__content .header__container .header__frontPage li:nth-child(16) {
  top: 44%;
  left: 38%;
  width: 13%;
}
.especial__content .header__container .header__frontPage li:nth-child(17) {
  top: 71%;
  left: 42.5%;
  width: 3%;
}
.especial__content .header__container .header__frontPage li:nth-child(18) {
  top: 50%;
  left: 54.2%;
  width: 6.5%;
}
.especial__content .header__container .header__frontPage li:nth-child(19) {
  top: 51%;
  left: 72.3%;
  width: 8.2%;
}
.especial__content .header__container .header__frontPage li:nth-child(20) {
  top: 55%;
  left: 84.3%;
  width: 13%;
}
.especial__content .header__container .header__frontPage li:nth-child(21) {
  top: 78%;
  left: -1.5%;
  width: 7%;
}
.especial__content .header__container .header__frontPage li:nth-child(22) {
  top: 77.5%;
  left: 25.6%;
  width: 4.8%;
}
.especial__content .header__container .header__frontPage li:nth-child(23) {
  top: 93%;
  left: 38.3%;
  width: 5.8%;
}
.especial__content .header__container .header__frontPage li:nth-child(24) {
  top: 88.4%;
  left: 56.5%;
  width: 10%;
}
.especial__content .header__container .header__frontPage li img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.especial__content .header__container .header__frontPage .visible {
  opacity: 1;
}
.especial__content .header__container .header__frontPage .header__button {
  position: absolute;
  left: 472px;
  bottom: 30px;
  width: 60px;
  background: none;
  border: none;
  transition: all 0.5s ease;
}
.especial__content .header__container .header__frontPage .header__button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.especial__content .header__container .header__frontPage .header__button img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.especial__content .header__container .header__frontPage .header__separator {
  position: absolute;
  left: 365px;
  bottom: -24px;
  width: 280px;
  opacity: 0.7;
}
.especial__content .header__container .header__frontPage .header__separator img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes timeVisible1 {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
}
@keyframes timeVisible2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 1024px) {
  .especial__content .header__container {
    overflow: hidden;
  }
  .especial__content .header__container .header__frontPage {
    width: 1024px;
  }
  .especial__content .header__container .header__frontPage .header__button {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .especial__content .header__container .header__frontPage {
    width: 768px;
    height: 1000px;
    background: url(../assets/images/header-collage-mobile.jpg) no-repeat center;
  }
  .especial__content .header__container .header__frontPage li:nth-child(1), .especial__content .header__container .header__frontPage li:nth-child(5), .especial__content .header__container .header__frontPage li:nth-child(6), .especial__content .header__container .header__frontPage li:nth-child(10), .especial__content .header__container .header__frontPage li:nth-child(11), .especial__content .header__container .header__frontPage li:nth-child(12), .especial__content .header__container .header__frontPage li:nth-child(18), .especial__content .header__container .header__frontPage li:nth-child(19), .especial__content .header__container .header__frontPage li:nth-child(20), .especial__content .header__container .header__frontPage li:nth-child(21), .especial__content .header__container .header__frontPage li:nth-child(22), .especial__content .header__container .header__frontPage li:nth-child(23), .especial__content .header__container .header__frontPage li:nth-child(24) {
    display: none;
  }
  .especial__content .header__container .header__frontPage li:nth-child(2) {
    top: -94px;
    left: 3px;
    width: 75px;
  }
  .especial__content .header__container .header__frontPage li:nth-child(3) {
    top: -55px;
    left: 292px;
    width: 66px;
  }
  .especial__content .header__container .header__frontPage li:nth-child(4) {
    top: -34px;
    left: 723px;
    width: 75px;
  }
  .especial__content .header__container .header__frontPage li:nth-child(7) {
    top: 58px;
    left: 47px;
    width: 102px;
  }
  .especial__content .header__container .header__frontPage li:nth-child(8) {
    top: 119px;
    left: 322px;
    width: 174px;
  }
  .especial__content .header__container .header__frontPage li:nth-child(9) {
    top: 204px;
    left: 498px;
    width: 58px;
  }
  .especial__content .header__container .header__frontPage li:nth-child(12) {
    top: 271px;
    left: 50px;
    width: 105px;
  }
  .especial__content .header__container .header__frontPage li:nth-child(13) {
    top: 197px;
    left: 189px;
    width: 105px;
  }
  .especial__content .header__container .header__frontPage li:nth-child(14) {
    display: none;
  }
  .especial__content .header__container .header__frontPage li:nth-child(15) {
    top: 378px;
    left: 252px;
    width: 242px;
  }
  .especial__content .header__container .header__frontPage li:nth-child(16) {
    top: 682px;
    left: 320px;
    width: 81px;
  }
  .especial__content .header__container .header__frontPage li:nth-child(17) {
    top: 449px;
    left: 558px;
    width: 127px;
  }
  .especial__content .header__container .header__frontPage li img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.titles__container {
  position: relative;
  width: 100%;
}
.titles__container::-webkit-scrollbar {
  display: none;
}
.titles__container .background__container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 210vh;
}
.titles__container .stickers__container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 210vh;
}
.titles__container .stickers__container .efecct__container--dynamic {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}
.titles__container .stickers__container .efecct__container--dynamic .efecct__container--static {
  position: relative;
  height: 100vh;
  width: 100%;
}
.titles__container .stickers__container .efecct__container--dynamic .efecct__container--static .background__sticky1,
.titles__container .stickers__container .efecct__container--dynamic .efecct__container--static .background__sticky2,
.titles__container .stickers__container .efecct__container--dynamic .efecct__container--static .background__sticky3,
.titles__container .stickers__container .efecct__container--dynamic .efecct__container--static .background__sticky4 {
  position: absolute;
}
.titles__container .stickers__container .efecct__container--dynamic .efecct__container--static .background__sticky1 {
  left: 0;
  top: 0;
  width: 450px;
}
.titles__container .stickers__container .efecct__container--dynamic .efecct__container--static .background__sticky2 {
  left: 0;
  bottom: 0;
  width: 400px;
}
.titles__container .stickers__container .efecct__container--dynamic .efecct__container--static .background__sticky3 {
  right: 0;
  top: 50px;
  width: 700px;
}
.titles__container .stickers__container .efecct__container--dynamic .efecct__container--static .background__sticky4 {
  right: 0;
  bottom: 0;
  width: 430px;
}
.titles__container .stickers__container .efecct__container--dynamic .efecct__container--static img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.titles__container .stickers__container .efecct__container--dynamic .efecct__container--static div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.titles__container .stickers__container .efecct__container--dynamic .efecct__container--static div .title__button {
  width: 70px;
  background: none;
  border: none;
  transition: all 0.5s ease;
}
.titles__container .stickers__container .efecct__container--dynamic .efecct__container--static div .title__button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.titles__container .stickers__container .efecct__container--dynamic .efecct__container--static div .title__button img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.titles__container .stickers__container .efecct__container--dynamic .efecct__container--static .title__separator {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  width: 280px;
  margin: 0 auto;
  opacity: 0.7;
}
.titles__container .stickers__container .efecct__container--dynamic .efecct__container--static .title__separator img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.titles__container .title__content {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.titles__container .title__content .subtitle__container1 {
  grid-row-start: 1;
  grid-row-end: 2;
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -130vh;
}
.titles__container .title__content .subtitle__container1 h2 {
  position: relative;
  font-size: 110px;
  color: #ffffff;
  font-family: "Axiforma-Black", Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  line-height: 70px;
  letter-spacing: 3px;
}
.titles__container .title__content .subtitle__container1 .sub_line {
  -webkit-text-stroke-color: #252527;
  -webkit-text-stroke-width: 2px;
  color: transparent;
  top: -75px;
  left: 9px;
}
.titles__container .title__content .subtitle__container1 h3 {
  color: #F2961F;
  font-size: 70px;
  font-family: "Abril-Italy", cursive;
  text-transform: lowercase;
  font-weight: 100;
  letter-spacing: 15px;
  text-align: center;
  margin-top: -70px;
}
.titles__container .title__content .subtitle__container2 {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  margin-top: -50vh;
}
.titles__container .title__content .subtitle__container2 .subtitle2 h2 {
  font-size: 100px;
  color: #F2961F;
  font-family: "Axiforma-Black", Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 70px;
}
.titles__container .title__content .subtitle__container2 .subtitle2 h3 {
  color: #000000;
  font-size: 80px;
  font-family: "segoe script", cursive;
  text-transform: lowercase;
  font-weight: bold;
  text-align: center;
}
.titles__container .button__container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 210vh;
}
.titles__container .button__container .efecct__container--dynamic {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}
.titles__container .button__container .efecct__container--dynamic .efecct__container--static {
  position: relative;
  height: 100vh;
  width: 100%;
}
.titles__container .button__container .efecct__container--dynamic .efecct__container--static .title__button {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  width: 60px;
  margin: 0 auto;
  border: none;
  background: transparent;
  transition: all 0.5s ease-in-out;
}
.titles__container .button__container .efecct__container--dynamic .efecct__container--static .title__button img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.titles__container .button__container .efecct__container--dynamic .efecct__container--static .title__button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 1201px) {
  .titles__container .efecct__container--dynamic .efecct__container--static .background__sticky1 {
    left: 0;
    top: 0;
    width: 320px;
  }
  .titles__container .efecct__container--dynamic .efecct__container--static .background__sticky2 {
    left: 0;
    bottom: 0;
    width: 400px;
  }
  .titles__container .efecct__container--dynamic .efecct__container--static .background__sticky3 {
    right: 0;
    top: 40px;
    width: 500px;
  }
  .titles__container .efecct__container--dynamic .efecct__container--static .background__sticky4 {
    right: 0;
    bottom: 0;
    width: 300px;
  }
}
@media (max-width: 1024px) {
  .titles__container .stickers__container .efecct__container--dynamic .efecct__container--static .background__sticky1 {
    width: 375px;
  }
  .titles__container .stickers__container .efecct__container--dynamic .efecct__container--static .background__sticky2 {
    width: 375px;
  }
  .titles__container .stickers__container .efecct__container--dynamic .efecct__container--static .background__sticky3 {
    top: 16px;
    width: 600px;
  }
  .titles__container .stickers__container .efecct__container--dynamic .efecct__container--static .background__sticky4 {
    width: 365px;
  }
}
@media (max-width: 768px) {
  .titles__container .stickers__container .efecct__container--dynamic .efecct__container--static .background__sticky2 {
    bottom: 30px;
    width: 445px;
  }
  .titles__container .stickers__container .efecct__container--dynamic .efecct__container--static .background__sticky3 {
    right: -115px;
    top: 49px;
    width: 615px;
  }
}
.intro__container {
  width: 100%;
  height: 100vh;
  position: relative;
}
.intro__container .background__sticky1,
.intro__container .background__sticky2,
.intro__container .background__sticky3,
.intro__container .background__sticky4 {
  position: absolute;
}
.intro__container .background__sticky1 img,
.intro__container .background__sticky2 img,
.intro__container .background__sticky3 img,
.intro__container .background__sticky4 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__container .background__sticky1 {
  left: 0;
  top: 0;
  width: 275px;
}
.intro__container .background__sticky2 {
  left: 0;
  bottom: 0;
  width: 230px;
}
.intro__container .background__sticky3 {
  right: 0;
  top: 0;
  width: 350px;
}
.intro__container .background__sticky4 {
  right: 0;
  bottom: 0;
  width: 265px;
}
.intro__container .text__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  transform: translateY(100px);
  transition: all 1s ease-in-out;
}
.intro__container .text__container .intro__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 690px;
  margin: 10px auto;
}
.intro__container .text__container .intro__content h3 {
  font-size: 28px;
  font-family: "Abril-Bold-Italy", monospace;
  margin-bottom: 30px;
}
.intro__container .text__container .intro__content p {
  font-size: 14px;
  font-family: "Courier-Std", "Courier New", Courier, monospace;
  text-align: center;
  font-weight: bold;
}
.intro__container .text__container .intro__content p span {
  background-color: #F2961F;
}
.intro__container .text__container .intro__content a {
  text-decoration: none;
  color: #6A392B;
  font-size: 14px;
  background-color: #F2961F;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 20px;
  font-family: "Courier-Std", "Courier New", Courier, monospace;
}
.intro__container .text__container .intro__content a:hover {
  color: #ffffff;
  background-color: #6A392B;
}
.intro__container .text__container.visible {
  opacity: 1;
  transform: translateX(0);
}
.intro__container .text__button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  width: 60px;
  margin: 0 auto;
  background: none;
  border: none;
  transition: all 0.5s ease;
}
.intro__container .text__button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.intro__container .text__button img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__container .text__separator {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -24px;
  width: 280px;
  margin: 0 auto;
  opacity: 0.7;
}
.intro__container .text__separator img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1024px) {
  .intro__container .text__container {
    width: 95%;
    height: 90vh;
  }
  .intro__container .text__container .subtitle2 h2 {
    font-size: 75px;
    line-height: 60px;
  }
}
@media (max-width: 768px) {
  .intro__container .text__container {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
  }
  .intro__container .text__container .intro__content {
    width: 100%;
  }
}
.voices__container {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}
.voices__container .scroll__container {
  position: relative;
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
}
.voices__container .scroll__container .voices__title {
  width: 45vw;
  height: 100vh;
  display: flex;
  padding-top: 60px;
  padding-right: 50px;
  flex-direction: column;
  align-items: end;
  background-image: url("./../assets/images/postal-videos-1.png");
  background-repeat: no-repeat;
  background-size: 100vh;
  background-position-x: start;
  background-position-y: bottom;
}
.voices__container .scroll__container .voices__title h2 {
  font-size: 28px;
  font-family: "Axiforma-Black", Arial, Helvetica, sans-serif;
  line-height: 45px;
  text-align: end;
}
.voices__container .scroll__container .voices__title h3 {
  font-size: 52px;
  font-weight: 500;
  font-family: "Abril-Italy", cursive;
}
.voices__container .scroll__container .voices__title p {
  width: 300px;
  margin-top: 25px;
  text-align: end;
  font-size: 14px;
  font-family: "Courier-Std", "Courier New", Courier, monospace;
  font-weight: 500;
}
.voices__container .scroll__container .voices__mosaic--container1,
.voices__container .scroll__container .voices__mosaic--container2 {
  display: flex;
  flex-wrap: wrap;
  width: 1405px;
  height: 100vh;
  margin-left: 7px;
  overflow: hidden;
  gap: 7px;
}
.voices__container .scroll__container .voices__mosaic--container1 .small,
.voices__container .scroll__container .voices__mosaic--container2 .small {
  width: 275px;
  height: 20vh;
}
.voices__container .scroll__container .voices__mosaic--container1 .medium,
.voices__container .scroll__container .voices__mosaic--container2 .medium {
  width: 346px;
  height: 30vh;
}
.voices__container .scroll__container .voices__mosaic--container1 .long,
.voices__container .scroll__container .voices__mosaic--container2 .long {
  width: 463px;
  height: 40vh;
}
.voices__container .scroll__container .voices__mosaic--container1 button,
.voices__container .scroll__container .voices__mosaic--container2 button {
  position: relative;
  background: transparent;
  border: none;
}
.voices__container .scroll__container .voices__mosaic--container1 button img,
.voices__container .scroll__container .voices__mosaic--container2 button img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
  transition: all 1s ease-in-out;
}
.voices__container .scroll__container .voices__mosaic--container1 button img:nth-child(1),
.voices__container .scroll__container .voices__mosaic--container2 button img:nth-child(1) {
  position: absolute;
  width: 80px;
  height: 80px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.voices__container .scroll__container .voices__mosaic--container1 button:hover > img:nth-child(2),
.voices__container .scroll__container .voices__mosaic--container2 button:hover > img:nth-child(2) {
  filter: grayscale(0%);
}
.voices__container .scroll__container .voices__mosaic--container1 button:hover > img:nth-child(1),
.voices__container .scroll__container .voices__mosaic--container2 button:hover > img:nth-child(1) {
  transform: scale(1.1);
}
.voices__container .scroll__container figure {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 250px;
  height: 25vh;
}
.voices__container .scroll__container figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.voices__container::-webkit-scrollbar {
  height: 10px; /* ancho del scrollbar */
  margin: 5px 0;
}
.voices__container::-webkit-scrollbar-thumb {
  background-color: #CB2027;
  background-image: url(./../assets/icon/icon-scroll-tumb.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 5px;
}
.voices__container::-webkit-scrollbar-track {
  background-color: rgba(48, 48, 38, 0.3137254902); /* color de la pista del scrollbar */
  border-radius: 5px;
}
.voices__container .voices__button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  width: 60px;
  margin: 0 auto;
  background: none;
  border: none;
  transition: all 0.5s ease;
}
.voices__container .voices__button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.voices__container .voices__button img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.voices__container .voices__separator {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -24px;
  width: 280px;
  margin: 0 auto;
  opacity: 0.7;
}
.voices__container .voices__separator img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1275px) {
  .voices__container .scroll__container .voices__title {
    width: 63vw;
  }
}
.voices__container--exterior {
  position: relative;
  width: 100%;
  height: 720px;
  background: url(./../assets/images/ext-fondo.jpg) center;
  background-size: cover;
}
.voices__container--exterior figure {
  position: absolute;
}
.voices__container--exterior figure img {
  width: 100%;
  height: 97%;
  -o-object-fit: cover;
     object-fit: cover;
}
.voices__container--exterior .stikers__container {
  left: -20px;
  right: 0;
  top: 0;
  bottom: -20px;
}
.voices__container--exterior .video__container--1 {
  left: 170px;
  top: 47px;
  width: 320px;
}
.voices__container--exterior .video__container--2 {
  left: 84px;
  top: 354px;
  width: 275px;
}
.voices__container--exterior .video__container--3 {
  left: 225px;
  top: 500px;
  width: 235px;
}
.voices__container--exterior .video__container--4 {
  right: 128px;
  top: 90px;
  width: 242px;
}
.voices__container--exterior .video__container--5 {
  right: 148px;
  top: 260px;
  width: 266px;
}
.voices__container--exterior .video__container--6 {
  right: 131px;
  top: 421px;
  width: 264px;
}
.voices__container--exterior .scale {
  transition: all 1s ease-in-out;
}
.voices__container--exterior .scale:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.voices__container--exterior .text__container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 40%;
  height: 100%;
  margin: auto;
}
.voices__container--exterior .text__container h2 {
  position: relative;
  font-size: 35px;
  font-family: "Axiforma-Black", Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 40px;
  padding: 25px;
  color: white;
}
.voices__container--exterior .text__container h2 span {
  font-size: 50px;
  font-family: "Abril-Italy", cursive;
  font-weight: 500;
}
.voices__container--exterior .text__container h2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 120px;
  height: 4px;
  margin: 0 auto;
  background-color: white;
}
.voices__container--exterior .text__container q {
  color: white;
  font-size: 21px;
  text-align: center;
  font-family: "Abril-Bold-Italy", monospace;
  padding: 25px 50px 8px 50px;
  margin-top: 10px;
  line-height: 23px;
}
.voices__container--exterior .text__container h4 {
  color: white;
  font-size: 13px;
  text-align: center;
  font-family: "Courier-Std", "Courier New", Courier, monospace;
  padding: 15px;
  margin-bottom: 10px;
}
.voices__container--exterior .text__container p {
  font-size: 14px;
  text-align: center;
  font-family: "Courier-Std", "Courier New", Courier, monospace;
  padding: 8px 50px;
  font-weight: bold;
}
.voices__container--exterior .exterior__button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  width: 60px;
  margin: 0 auto;
  background: none;
  border: none;
  transition: all 0.5s ease;
}
.voices__container--exterior .exterior__button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.voices__container--exterior .exterior__button img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.voices__container--exterior .exterior__separator {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -24px;
  width: 280px;
  margin: 0 auto;
  opacity: 0.7;
}
.voices__container--exterior .exterior__separator img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1275px) {
  .voices__container--exterior .video__container--1 {
    left: 100px;
    top: 65px;
    width: 257px;
  }
  .voices__container--exterior .video__container--2 {
    left: 22px;
    top: 315px;
    width: 243px;
  }
  .voices__container--exterior .video__container--3 {
    left: 105px;
    top: 496px;
    width: 232px;
  }
  .voices__container--exterior .video__container--4 {
    right: 72px;
    top: 90px;
    width: 224px;
  }
  .voices__container--exterior .video__container--5 {
    right: 77px;
    top: 260px;
    width: 238px;
  }
  .voices__container--exterior .video__container--6 {
    right: 50px;
    top: 421px;
    width: 256px;
  }
  .voices__container--exterior .text__container {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .voices__container--exterior {
    height: 100vh;
  }
  .voices__container--exterior .video__container--1 {
    left: 85px;
    top: 155px;
    width: 170px;
  }
  .voices__container--exterior .video__container--2 {
    left: 3px;
    top: 755px;
    width: 243px;
  }
  .voices__container--exterior .video__container--3 {
    left: 0px;
    top: 503px;
    width: 214px;
  }
  .voices__container--exterior .video__container--4 {
    right: 15px;
    top: 90px;
    width: 224px;
  }
  .voices__container--exterior .video__container--5 {
    right: 45px;
    top: 580px;
    width: 215px;
  }
  .voices__container--exterior .video__container--6 {
    right: 25px;
    top: 730px;
    width: 244px;
  }
}
.letters__container {
  width: 100%;
  overflow: hidden;
}
.letters__container .letter__intro {
  position: relative;
  width: 100%;
  height: 100vh;
}
.letters__container .letter__intro .video__letters {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.letters__container .letter__intro .text__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.letters__container .letter__intro .text__container h2 {
  position: relative;
  margin-top: 70px;
  color: #F2961F;
  font-family: "Axiforma-Black", Arial, Helvetica, sans-serif;
  font-size: 60px;
  text-align: center;
  line-height: 82px;
}
.letters__container .letter__intro .text__container h3 {
  color: #000000;
  font-family: "segoe script", cursive;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
}
.letters__container .letter__intro .text__container::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  width: 130px;
  height: 4px;
  margin: 0 auto;
}
.letters__container .letter__intro .text__container p {
  width: 35%;
  margin-top: 40px;
  font-size: 14px;
  font-family: "Courier-Std", "Courier New", Courier, monospace;
  text-align: center;
  font-weight: 500;
}
.letters__container .letter__intro .text__container.visible {
  opacity: 1;
  transform: translateX(0px);
}
.letters__container .letter__intro .lettersIntro__button {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  width: 60px;
  margin: 0 auto;
  background: none;
  border: none;
  transition: all 0.5s ease;
}
.letters__container .letter__intro .lettersIntro__button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.letters__container .letter__intro .lettersIntro__button img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.letters__container .letter__intro .lettersIntro__separator {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -24px;
  width: 280px;
  margin: 0 auto;
  opacity: 0.7;
}
.letters__container .letter__intro .lettersIntro__separator img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.letters__container .letters__list {
  position: relative;
  width: 100%;
  height: 90vh;
  background-image: url(./../assets/images/intro-letters-fondo-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 50px solid #ffffff;
}
.letters__container .letters__list .decoration__container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.letters__container .letters__list .decoration__container .background__sticky1,
.letters__container .letters__list .decoration__container .background__sticky3 {
  position: absolute;
}
.letters__container .letters__list .decoration__container .background__sticky1 img,
.letters__container .letters__list .decoration__container .background__sticky3 img {
  width: 100%;
  height: 15px;
}
.letters__container .letters__list .decoration__container .background__sticky2,
.letters__container .letters__list .decoration__container .background__sticky4 {
  position: absolute;
}
.letters__container .letters__list .decoration__container .background__sticky2 img,
.letters__container .letters__list .decoration__container .background__sticky4 img {
  height: 100%;
  width: 15px;
}
.letters__container .letters__list .decoration__container .background__sticky1 {
  top: -50px;
  right: -50px;
  left: -40px;
}
.letters__container .letters__list .decoration__container .background__sticky2 {
  top: -50px;
  right: -50px;
  bottom: -45px;
}
.letters__container .letters__list .decoration__container .background__sticky3 {
  right: -45px;
  left: -45px;
  bottom: -54px;
}
.letters__container .letters__list .decoration__container .background__sticky4 {
  top: -45px;
  bottom: -45px;
  left: -50px;
}
.letters__container .letters__list .categories__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  padding: 25px;
}
.letters__container .letters__list .categories__container button {
  background: none;
  border: none;
  width: 20%;
  transition: all 0.5s ease-in-out;
}
.letters__container .letters__list .categories__container button img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.letters__container .letters__list .categories__container button:hover {
  transform: rotateY(360deg);
  cursor: pointer;
}
.letters__container .letters__list .letters__carrusel {
  position: relative;
  width: 100%;
  height: 45vh;
  overflow: hidden;
}
.letters__container .letters__list .letters__carrusel .letters__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  gap: 25px;
  transition: all 1s ease-in-out;
}
.letters__container .letters__list .letters__carrusel .letters__content figure {
  width: 33%;
  height: 100%;
}
.letters__container .letters__list .letters__carrusel .letters__content figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.letters__container .letters__list .letters__carrusel .button__back,
.letters__container .letters__list .letters__carrusel .button__forward {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 18%;
  height: 100%;
  border: none;
  background: none;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}
.letters__container .letters__list .letters__carrusel .button__back img,
.letters__container .letters__list .letters__carrusel .button__forward img {
  padding: 30px;
  transition: all 0.5s ease-in-out;
  width: 35%;
}
.letters__container .letters__list .letters__carrusel .button__back:hover > img,
.letters__container .letters__list .letters__carrusel .button__forward:hover > img {
  transform: scale(1.15);
}
.letters__container .letters__list .letters__carrusel .button__back {
  left: 0;
  display: none;
}
.letters__container .letters__list .letters__carrusel .button__forward {
  transform: rotate(180deg);
  right: 0;
}
.letters__container .lettersList__button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  width: 60px;
  margin: 0 auto;
  background: none;
  border: none;
  transition: all 0.5s ease;
}
.letters__container .lettersList__button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.letters__container .lettersList__button img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: contrast(1);
}
.letters__container .lettersList__separator {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -45px;
  width: 280px;
  margin: 0 auto;
  opacity: 0.7;
}
.letters__container .lettersList__separator img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .letters__container .letter__intro {
    height: 50vh;
  }
  .letters__container .letter__intro .text__container h2 {
    margin-top: 18px;
    font-size: 43px;
    line-height: 50px;
    padding: 30px;
  }
  .letters__container .letter__intro .text__container p {
    margin-top: 30px;
    width: 40%;
  }
  .letters__container .letters__list {
    height: 50vh;
  }
  .letters__container .letters__list .letters__carrusel {
    height: 67%;
  }
}
.sendLetters__container {
  width: 100%;
  height: 100vh;
  position: relative;
}
.sendLetters__container .send_fondo {
  width: 100%;
  height: 30px;
  position: relative;
}
.sendLetters__container .send_fondo figure {
  width: 280px;
  bottom: 0;
}
.sendLetters__container .send_fondo figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.send_cont {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  align-items: center;
}
.send_cont .multimedia__container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.send_cont .multimedia__container a {
  transition: all 0.5s ease-in-out;
}
.send_cont .multimedia__container a button {
  width: 250px;
  background: none;
  border: none;
  padding-top: 60px;
}
.send_cont .multimedia__container a button img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.send_cont .multimedia__container a:hover {
  transform: scale(1.1);
}
.send_cont .form__container {
  height: 50%;
  padding: 25px;
  padding-bottom: 40px;
}
.send_cont .form__container p {
  text-align: left;
  font-family: "Courier-Std";
  font-size: 14px;
  font-weight: 500;
}
.send_cont .description__container {
  background: #ffffff;
  border-radius: 20px;
  padding: 10px 20px 10px 35px;
}
.send_cont .description__container h2, .send_cont .description__container li {
  width: 100%;
  font-family: "Courier-Std";
  font-size: 14px;
  margin: 3px 0;
}
.send_cont .description__container h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.search__container {
  width: 100%;
  height: 99vh;
  overflow-x: scroll;
  overflow-y: hidden;
}
.search__container::-webkit-scrollbar {
  height: 10px; /* ancho del scrollbar */
  margin: 5px 0;
}
.search__container::-webkit-scrollbar-thumb {
  background-color: #000;
  background-image: url(./../assets/icon/icon-scroll-tumb.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 5px;
}
.search__container::-webkit-scrollbar-track {
  background-color: rgba(48, 48, 38, 0.3137254902); /* color de la pista del scrollbar */
  border-radius: 5px;
}
.search__container .scroll__container {
  display: flex;
  height: 100%;
  width: -moz-max-content;
  width: max-content;
}
.search__container .scroll__container .text__container {
  width: 45vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  background-image: url(./../assets/images/historias-fondo-galeria-izquierda.png);
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: center;
  padding-right: 20px;
}
.search__container .scroll__container .text__container h2 {
  font-size: 34px;
  text-align: end;
  line-height: 50px;
  font-family: "Axiforma-Black", Arial, Helvetica, sans-serif;
  margin-right: 20px;
}
.search__container .scroll__container .text__container h3 {
  font-size: 62px;
  font-family: "Abril-Bold-Italy", monospace;
  font-weight: bold;
  text-align: end;
}
.search__container .scroll__container .text__container p {
  width: 500px;
  padding: 14px;
  margin-bottom: -10px;
  text-align: end;
  font-size: 14px;
  font-family: "Courier-Std", "Courier New", Courier, monospace;
  font-weight: 400;
}
.search__container .scroll__container .galery__container {
  height: 100%;
  width: -moz-max-content;
  width: max-content;
  background-image: url(./../assets/images/fondo-galeria-derecha.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  gap: 20px;
}
.search__container .scroll__container .galery__container .images__container--colum1 {
  margin-left: 50px;
}
.search__container .scroll__container .galery__container .images__container--colum1,
.search__container .scroll__container .galery__container .images__container--colum2,
.search__container .scroll__container .galery__container .images__container--colum3,
.search__container .scroll__container .galery__container .images__container--colum4 {
  width: 390px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.search__container .scroll__container .galery__container .image__long {
  position: relative;
  width: 85%;
}
.search__container .scroll__container .galery__container .image__long::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background-image: url(./../assets/icon/historias-marco-long.png);
  background-size: cover;
}
.search__container .scroll__container .galery__container .image__medium {
  width: 65%;
  transform: rotate(-5deg);
}
.search__container .scroll__container .galery__container .image__medium::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -5px;
  right: -5px;
  bottom: -2px;
  background-image: url(./../assets/icon/historias-marco-medium.png);
  background-size: cover;
}
.search__container .scroll__container .galery__container .image__small {
  width: 45%;
}
.search__container .scroll__container .galery__container .image__small::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 4px;
  background-image: url(./../assets/icon/historias-marco-small.png);
  background-size: cover;
}
.search__container .scroll__container .galery__container figure {
  transition: all 0.5s ease-in-out;
}
.search__container .scroll__container .galery__container figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.search__container .scroll__container .galery__container figure:hover {
  transform: scale(1.1);
}
.search__container .search__button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  width: 60px;
  margin: 0 auto;
  background: none;
  border: none;
  transition: all 0.5s ease;
}
.search__container .search__button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.search__container .search__button img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.search__container .search__separator {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -25px;
  width: 280px;
  margin: 0 auto;
  opacity: 0.7;
}
.search__container .search__separator img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1024px) {
  .search__container .scroll__container .text__container {
    width: 63vw;
  }
  .search__container .scroll__container .text__container article h2 {
    font-size: 30px;
  }
  .search__container .scroll__container .text__container article h2 span {
    font-size: 55px;
  }
}
@media (max-width: 1024px) {
  .search__container {
    height: 200vh;
  }
  .search__container .scroll__container {
    flex-direction: column;
  }
  .search__container .scroll__container .text__container {
    width: 100vw;
  }
  .search__container .scroll__container .text__container article {
    margin: 50px 30px;
    width: 375px;
  }
  .search__container .scroll__container .galery__container {
    height: 99vh;
  }
}
.contact__container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(./../assets/images/fondo_footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.contact__container .text__container {
  width: 365px;
  height: 55vh;
  padding: 20px;
  margin-left: 22%;
}
.contact__container .text__container h2 {
  font-size: 60px;
  margin-top: 50px;
  padding: 20px 0;
  font-family: "Abril-Bold-Italy", monospace;
  font-weight: bold;
  text-align: end;
}
.contact__container .text__container p {
  padding-top: 15px;
  text-align: end;
  font-size: 14px;
  font-family: "Courier-Std", "Courier New", Courier, monospace;
  font-weight: bold;
}
.contact__container .text__container p span {
  background-color: white;
}
.contact__container .credicts__container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 100%;
  height: 45vh;
}
.contact__container .credicts__container p {
  position: relative;
  width: 65%;
  padding-right: 10%;
  padding-bottom: 20px;
  color: white;
  font-family: "Barlow-Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
}
.contact__container .credicts__container p::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 15%;
  bottom: 0;
  border-bottom: 2px solid gray;
}
.contact__container .credicts__container h4 {
  position: relative;
  color: white;
  width: 65%;
  padding-right: 10%;
  padding-top: 15px;
  font-family: "Barlow-Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
}
.contact__container .credicts__container h4::after {
  content: "";
  position: absolute;
  top: 55px;
  left: 0;
  width: 120px;
  height: 26px;
  background-image: url(./../assets/icon/icon-copy.png);
  background-size: cover;
}
.contact__container .mail__button {
  position: absolute;
  display: block;
  top: 90px;
  right: 100px;
  width: 500px;
  height: 220px;
}

@media (max-width: 1024px) {
  .contact__container .text__container {
    margin-left: 12%;
  }
}
@media (max-width: 768px) {
  .contact__container .text__container {
    margin-left: 7%;
    margin-top: 60px;
  }
  .contact__container .credicts__container {
    align-items: center;
  }
  .contact__container .credicts__container p, .contact__container .credicts__container h4 {
    width: 85%;
    padding-right: 15px;
  }
  .contact__container .credicts__container p {
    text-align: justify;
  }
}
.modal {
  position: fixed;
  display: none;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8470588235);
  z-index: 3;
}
.modal .image__container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.modal .image__container .image {
  width: 748px;
  height: 528px;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal .video__container {
  width: calc(100vw - 320px);
  height: 100%;
  display: grid;
  place-items: center;
}
.modal .data__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 320px;
  height: 100%;
  background-image: url(./../assets/images/fondo-modal-lateral.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: #000000 0px 0px 15px 10px;
}
.modal .data__container button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 5px;
  cursor: pointer;
  border: none;
  background: none;
  z-index: 2;
  transition: all 1s ease-in-out;
}
.modal .data__container button:hover {
  transform: rotateZ(180deg);
}
.modal .data__container button:focus {
  outline: none;
}
.modal .data__container button img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal .data__container .region {
  position: relative;
  width: 45%;
  margin-bottom: 60%;
  padding-right: 20px;
  background-color: white;
  font-size: 12px;
  font-family: "Axiforma-Black", Arial, Helvetica, sans-serif;
  text-align: end;
}
.modal .data__container .region::after {
  content: "";
  position: absolute;
  top: -30px;
  left: 0px;
  width: 21px;
  height: 35px;
  background-image: url(./../assets/icon/icon-chinche.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.modal .data__container .title {
  width: 85%;
  margin-bottom: 40%;
  font-size: 13px;
  font-family: "Courier-Std", "Courier New", Courier, monospace;
  text-align: start;
  font-weight: 500;
}

.active {
  display: flex;
}

@media (max-width: 1024px) {
  .modal {
    flex-direction: column;
  }
  .modal .video__container {
    width: 100%;
    height: 55%;
  }
  .modal .data__container {
    width: 100%;
    height: 45%;
    flex-direction: row;
    background-image: url(./../assets/images/fondo-modal-horizontal.png);
    align-items: center;
    justify-content: center;
  }
  .modal .data__container .region {
    margin-bottom: 0;
    width: 25%;
  }
  .modal .data__container .title {
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 0;
    width: 50%;
    height: -moz-max-content;
    height: max-content;
  }
}/*# sourceMappingURL=styles.css.map */